/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #000;
  border: none;
}

textarea:focus, input:focus {
  outline: none;
}

/* content */
h1 {
  text-align: center;
}

label {
  display: inline;
}

input {
  margin-bottom: 10px;
}

h2 {
  display: inline-block;
  margin-left: 15px;
}

#content {
  background-color: #32323232;
  width: 360px;
  height: 570px;
  margin: 0 auto;
  margin-top: 2vh;
  padding: 20px 0px;
  border-radius: 10px;
}

#frete {
  margin-top: 40px;
}

#empresas {
  margin-top: 7px;
}


